*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    height: 100%;
    width: 100%;
}

body {
    background-color: rgb(8, 26, 49);
    display: flex;
    justify-content: center;
    align-items: center;
}

#card{
    height: 450px;
    width: 280px;
    background-color: rgb(168, 161, 161);
    border-radius: 15px;
    overflow: hidden;
    border: 5px solid black;
    position: relative;
}

#storiyan{
    height: 120px;
    width: 100%;
    /* background-color:red; */
    border-bottom: 2px solid #555;
    padding: 20px;
    white-space: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
}

#storiyan::-webkit-scrollbar{
    display: none ;
}

.story{
    height: 80px;
    width: 80px;
    border: 2px solid black;
    border-radius: 50%;
    overflow: hidden;
    display: inline-block;
    margin-right: 5px;
}

.story img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
}

#full-screen{
     height: 100%;
     width: 100%;
     /* background-color: red; */
     background-size: cover;
     background-position: center ;
     position: absolute;
     display: none;

}
